<div fxLayout="row" fxLayoutGap="20px">
  <button mat-raised-button color="primary"
          aria-label="Example icon button with a plus one icon"
          (click)="chooseLesson('letters')" >
    <mat-icon>{{letters}}</mat-icon>
  </button>
  <button mat-raised-button color="primary"
          aria-label="Example icon button with a plus one icon"
          (click)="chooseLesson('words')" >
    <mat-icon>{{words1}}</mat-icon>
  </button>
</div>

<app-element-comparator [elementForCompare]="elementForCompare"></app-element-comparator>
