<div [formGroup]="startGroup">
  <div fxLayout="row" fxLayoutGap="20px">

    <mat-form-field appearance="outline">
      <mat-label>AMOUNT OF ELEMENTS</mat-label>
      <input matInput
             placeholder="Amount"
             formControlName="elementsAmount">
    </mat-form-field>
    <button mat-raised-button (click)="loadAmountOfElements()">LOAD</button>
    <button mat-raised-button (click)="changeOrder()">Change order</button>
  </div>
</div>

<div cdkDropListGroup>
  <div class="container">
    <h2>{{firstIngredient}}</h2>
    <div
      cdkDropList
      [cdkDropListData]="firstElementSet"
      class="list"
      cdkDropListSortingDisabled
      (cdkDropListDropped)="dropElement($event)">
      <div class="box" *ngFor="let  letter of firstElementSet" cdkDrag>{{letter}}</div>
    </div>
  </div>
  <div class="container">
    <h2>{{secondIngredient}}</h2>
    <div
      cdkDropList
      [cdkDropListData]="secondElementSet"
      class="list"
      (cdkDropListDropped)="dropElement($event)">
      <div class="box" *ngFor="let  letter of secondElementSet" cdkDrag>{{letter}}</div>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayoutGap="20px">
  <button mat-raised-button (click)="unsorted()">Wymieszaj</button>
  <button mat-raised-button (click)="check()" color="primary">Sprawdz</button>
  <div>{{outcom}}</div>
</div>
