
Put words in proper order.

<button mat-raised-button (click)="beforeElement()" color="primary">Poprzedni</button>
<button mat-raised-button (click)="nextElement()" color="primary">Nastęny</button>

<div cdkDropList
     cdkDropListOrientation="horizontal"
     class="example-list"
     (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let timePeriod of timePeriods" cdkDrag>{{timePeriod}}</div>
</div>

<div fxLayout="row" fxLayoutGap="20px">
  <button mat-raised-button (click)="checkAndSetOutcom()" color="primary">Sprawdz</button>
  <div>{{outcom}}</div>
</div>
